# MariaDB
DB_HOST=db
DB_PORT=3306
DB_NAME=app_db
DB_USER=app_user
DB_PASSWORD=app_password
DB_ROOT_PASSWORD=devroot


# Frontend
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# phpMyAdmin
PHPMYADMIN_PORT=8081
